<%- include('../../partials/inventario/header.ejs') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12 mb-4 mb-sm-0">
                            <h1 class="h2 mb-0 ls-tight">Editar Producto</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="editarProducto" method="POST">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre del Producto:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control"
                                value="<%= producto.nombre %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="precio" class="form-label">Precio del Producto:</label>
                            <input type="number" id="precio" name="precio" step="0.01" class="form-control"
                                value="<%= producto.precio %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="existencia" class="form-label">Existencia del Producto:</label>
                            <input type="number" id="existencia" name="existencia" class="form-control"
                                value="<%= producto.existencia %>" required>
                        </div>
                        <input type="text" name="idPr" id="idPr" value="<%= producto._id %>" hidden>
                        <button type="submit" class="btn btn-primary mt-4">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // editarProducto
    $('#editarProducto').submit(function (e) {
        e.preventDefault();
        $('#editarProducto button[type="submit"]').attr('disabled', true);

        // Expresión regular para verificar si hay al menos tres letras de A-Z o a-z
        var regex = /^(?=(?:[^\d]*\d){0,5}[^\d]*$)[a-zA-Z\d\s]{3,}$/;


        if (!regex.test($('#nombre').val())) {
            addToast('Por favor, ingresa un nombre con al menos tres letras y maximo 5 numeros.', 'danger', '¡Error!');
            $('#editarProducto button[type="submit"]').attr('disabled', false);
            return;
        }

        // Verifica que no tenga mas de 5 numeros a lo largo del string, permite espacios


        // Verificar que todos los campos esten llenos
        if ($('#nombre').val() == '' || $('#precio').val() == '' || $('#existencia').val() == '') {
            addToast('Por favor, llena todos los campos.', 'danger', '¡Error!');
            $('#editarProducto button[type="submit"]').attr('disabled', false);
            return;
        }

        let prID = $('#idPr').val();

        $.post('/dashboard/inventario/productos/editar/'+prID, $(this).serialize(), function (data, status, error) {
            console.log(data);
            if (data.success) {
                $('#editarProducto').trigger('reset');
                $('#editarProducto button[type="submit"]').attr('disabled', false);
                window.location.href = '/dashboard/inventario/productos?status=success';
            } else {
                addToast(data.message, 'danger', '¡Error!');
                $('#editarProducto button[type="submit"]').attr('disabled', false);
            }
        });
    });
</script>